@font-face {
	font-family: "Product Sans";
	src: url("./assets/fonts/ProductSans-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Product Sans";
	src: url("./assets/fonts/ProductSans-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Product Sans";
	src: url("./assets/fonts/ProductSans-Bold.ttf");
	font-weight: 700;
}

body {
	font-family: "Product Sans";
}
